/* start coinet-power styles */

	#coinet-power
	{
		background-color: #212121;
	}

	.text-container-hover-power
	{
		top: 35%;
		left: 2%;
	}

	.col-services
	{
		border-radius: 5%;
		overflow: hidden;
		background-clip: content-box;
  		background-image: linear-gradient(203deg, #313131, #464545);
	}

	.col-services-special
	{
		border-radius: 5%;
		overflow: hidden;
		background-clip: content-box;
		background-image: linear-gradient(202deg, #44736e, #2db7d7);
	}

	.container-services
	{
		padding: 5%;
		padding-left: 6%;
		padding-right: 6%;
	}

	.img-services
	{
		border-radius: 10%;
		-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
		-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
		box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	}

	.title-article-services
	{
		font-family: 'Raleway Black', arial;
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: -0.6px;
		color: #eaeaea;
	}

	.line-article
	{
		background-color: #69cdec; 
		border-color: #69cdec;
	}

	.see-more-link
	{
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.1px;
		text-align: left;
		color: #69cdec;
	}

	.title-behin-visin
	{
		font-family: 'Raleway Black', arial;
		font-size: 38px;
		font-weight: 900;
		line-height: 0.5;
		letter-spacing: -0.9px;
		color: #2a2a2a;
	}

	.text-container-hover-visin
	{
		top: 40%;
		left: 5%;
	}

	.title-container-visin
	{
		font-family: 'Raleway Black', arial;
		font-size: 15px;
		font-weight: 500;
		letter-spacing: -0.3px;
		color: #9f9a9a;
	}

	.coinet-power-social-media
	{
		border-radius: 3px; 
		border: solid 1px #e6e5e5; 
		font-family: 'Roboto', arial;
		font-size: 15px;
		font-weight: 300;
		letter-spacing: -0.6px;
		text-align: center;
		color: #f2f1f2;
		padding: 8px;
		padding-top: 12px;
		padding-bottom: 5px;
		margin-bottom: 5px;
	}


	@media (max-width: 768px) 
	{
		.title-behind-power
		{
			font-size: 25px;
		}

		.title-container
		{
			font-size: 22px;
		}

		.title-behin-visin
		{
			font-size: 25px;
		}

		.title-container-visin
		{
			font-size: 12px;
		}

		.title-article-services
		{
			font-size: 12px;
		}

		.margin-top-prom
		{
			margin-top: 10%;
		}
	}

/* end coinet-power styles */