/* start coinet-team styles */

	#coinet-team
	{
		background-color: #f7f7f7;
	}

	.title-behind-team
	{
		font-family: 'Raleway Black', arial;
		font-size: 38px;
		font-weight: 900;
		line-height: 0.5;   
		letter-spacing: -0.9px;
		color: #d4d8dc;
	}

	.text-container-hover-charge
	{
		top: 5%;
		left: 55%;
	}

	.coinet-team-container
	{
		background-color: #ffffff;
		background-clip: content-box;
	}

	.charge-style 
	{
		font-family: 'Roboto', sans-serif;
		font-size: 9px;
		font-weight: 300;
		letter-spacing: 0.9px;
		color: #ffffff;
		border-radius: 10px;
		background-color: #4a4a4a;
		padding: 1%;
		padding-left: 8%;
		padding-right: 8%;
	}

	.text-container-hover-name
	{
		bottom: 8%;
		left: 15%;
	}

	.charge-name 
	{
		font-family: 'Roboto', sans-serif;
		font-size: 9px;
		font-weight: 300;
		letter-spacing: -0.3px;
		color: #ffffff;
	}

	.person-name
	{
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		font-weight: bold;
		letter-spacing: -0.6px;
		color: #ffffff;
	}

	.text-container-hover-linkedin
	{
		bottom: 14%;
		left: 75%;
	}

	.motto-container
	{
		padding-top: 5%;
		padding-bottom: 5%;
		padding-left: 10%;
		padding-right: 10%;
	}

	.motto-container-little
	{
		padding-top: 2%;
		padding-bottom: 2%;
		padding-right: 5%;
	}

	.motto-text
	{
		font-family: 'Raleway', arial;
		font-size: 10px;
		font-weight: 200;
		line-height: 1.5;
		letter-spacing: -0.4px;
		text-align: justify;
		color: #4a4a4a;
	}

	.employee-charge 
	{
		font-family: 'Roboto', sans-serif;
		font-size: 9px;
		font-weight: 300;
		letter-spacing: -0.3px;
		text-align: left;
		color: #4a4a4a;
	}

	.employee-name
	{
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		font-weight: bold;
		letter-spacing: -0.6px;
		text-align: left;
		color: #4a4a4a;
	}

	@media (max-width: 992px) 
	{
		.img-employee-big
		{
			border-radius: 5%;
		}
	}
	
	@media (max-width: 768px) 
	{
		.title-behind-team
		{
			font-size: 20px;
		}

		.title-container
		{
			font-size: 18px;
		}
	}

/* end coinet-team styles */