/* Body styles */
	
	html 
	{
		position: relative;
		min-height: 100%;
	}

	body 
	{
		font-family: 'Raleway';
		overflow-x: hidden;
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	}

	.main 
	{
		flex: 1 0 auto;
	}

	.margin-prom
	{
		margin-top: 5%;
	}

/* End Body styles */


/* Navbar styles */

	.navbar-custom 
	{
		background-color: #ffffff;
		color: #4a4a4a;
	}

	.navbar-custom .navbar-brand 
	{
		padding: 0px auto;
		float: left;
	}

	.navbar-custom ul > li > a
	{
		color: #4a4a4a !important;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0.1px;
		text-align: left;
	}

	.navbar-custom ul > li > a:hover
	{
		background-color: transparent;
	}

	/*.navbar-custom ul > li > a:hover
	{
		color: black !important;
	}*/

	.icon-nav
	{
		max-width: 97px; 
		margin-top: 9px; 
	}

	.navbar-custom .navbar-toggle 
	{
		border-color: #4a4a4a;
		color: #4a4a4a !important; 
	}

	/*.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus 
	{
		background-color: #F4F5FA;
	}*/

	/*.navbar-custom .navbar-toggle .icon-bar 
	{
		background-color: #6C6D78;
	}*/

	.btn_style 
	{
		margin-top: 7px;
		margin-left: 5px;
		padding: 8px;
		padding-left: 35px;
		padding-right: 35px;
		border: 0;
		border-radius: 20px;
		background-color: #3491fe;
		color: white !important;
	}

/* End Navbar styles*/


/* Header styles */

	header 
	{
		max-height: 700px;
		background-image: url('../img/overlay@3x.png'), url('../img/image-group@3x.jpg');
		background-blend-mode: multiply;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
		text-align: center;
		color: #6C6D78;
	}

	header .intro-text 
	{
		padding-top: 200px;
		padding-bottom: 200px;
	}

	header .intro-text .intro-lead-in h1
	{
		font-size: 48px;
		font-family: 'Raleway Black', arial;
		font-weight: 900;
		font-style: bold;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0.2px;
		text-align: center;
		color: #ffffff;
	}

	header .intro-text .intro-heading
	{
		margin-bottom: 5%;
	}

	header .intro-text .intro-heading p
	{
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.19;
		letter-spacing: -0.4px;
		text-align: center;
		color: #73b1fa;
	}

	header .intro-text .intro-description p
	{
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.19;
		letter-spacing: -0.4px;
		text-align: center;
		color: #8d8d8d;
	}

	@media (max-width: 768px) 
	{
		header 
		{
			max-height: 500px;
		}

		header .intro-text 
		{
			padding-top: 100px;
			padding-bottom: 100px;
		}

		header .intro-text .intro-lead-in h1
		{
			font-size: 28px;		
		}

		header .intro-text .intro-heading 
		{
			text-align: justify;
			font-size: 18px;
		}
	}

	.blue-word
	{
		color: #2c8eff;
	}

/* End Header styles */


/* Footer styles */

	.footer 
	{
		bottom: 0;
		width: 100%;
		background-color: #242424;
	}

	.footer_tittle 
	{
		font-size: 15px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #9b9b9b;
	}

/*End Footer styles*/