<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Coinet</title>

        <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/montserrat.css" rel="stylesheet">
        <link href="../assets/css/roboto.css" rel="stylesheet">
        <link href="../assets/css/raleway.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/general.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/coinet-proyects.css" rel="stylesheet" type="text/css">
        
        <script src="../assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
        <script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
    </head>

    <body>
        <div class="main">
            <section id="coinet-proyects">
            	<div class="container">
            		<div class="row margin-top-min">
	                    <div class="col-xs-12">
	                    	<div class="text-container">
	                            <span class="title-behind-power">proyecto</span>
	                            <div class="text-container-hover text-container-hover-proyect">
	                                 <span class="title-container">Rewool</span>
	                            </div>
	                        </div>
	                    </div>
                	</div>
                	<div class="row margin-top-prom">
                		<div class="col-md-5">
                			<p class="rewool-text">Rewool es una plataforma P2P que permite de forma descentralizada que las personas participen en un juego de cartas binario, con la tecnología blockchain existe la seguridad de que no esta siendo manipulado el resultado garantizando transparencia en el proceso, actualmente el equipo de Coinet trabaja en la ejecución de la ICO y próximamente se anunciara su lanzamiento.</p>
                		</div>
                	</div>
            	</div>
            </section>
        </div>
    </body>
</html>