<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coinet</title>

    <link rel="icon" href="../assets/img/general/iso.png">

    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    
    <link href="../assets/vendor/fonts/montserrat.css" rel="stylesheet" type="text/css">
    <link href="../assets/vendor/fonts/roboto.css" rel="stylesheet" type="text/css">
    <link href="../assets/vendor/fonts/raleway.css" rel="stylesheet" type="text/css">
    
    <link href="../assets/css/general.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/navbar-header.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/coinet-ico-header.css" rel="stylesheet" type="text/css">

  </head>

  <body>

    <header id="coinet-ico">
        <div class="container-fluid">
            <div class="row margin-top-prom margin-bottom-min">
                <div class="col-sm-10 col-md-3 col-sm-offset-1">
                    <div class="intro-lead">
                        <h3><span>LANZAMIENTO {</span><span class="blue-word">COT</span><span>}</span></h3>   
                    </div>
                </div>                  
                <div class="col-xs-3 col-sm-2 col-md-1 col-md-offset-0 col-sm-offset-1 col-xs-offset-1 text-align-center">
                    <span class="time-numbers">02</span>   
                    <span class="ico-text-little">MESES</span>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1 text-align-center">
                    <span class="time-numbers">02</span>
                    <span class="ico-text-little">DIAS</span>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1 text-align-center">
                    <span class="time-numbers">02</span> 
                    <span class="ico-text-little">HORAS</span>
                </div>
                <div class="col-sm-2 col-md-1 hidden-xs text-align-center">
                    <span class="time-numbers">02</span>
                    <span class="ico-text-little">MIN</span>
                </div>
                <div class="col-sm-2 col-md-1 hidden-xs text-align-center">
                    <span class="time-numbers">02</span>
                    <span class="ico-text-little blue-word">SEG</span>
                </div>
                <div class="col-md-2 hidden-xs hidden-sm">
                    <button class="button-reserve">RESERVAR TOKENS</button>
                </div>
            </div>
            <div class="row margin-bottom-prom">
                <div class="col-sm-10 col-md-4 col-sm-offset-1">
                    <span class="ico-text-little"> TIEMPO DE ESPERA </span>
                </div>
                <div class="col-sm-10 col-md-5 col-md-offset-0 col-sm-offset-1">
                    <span class="ico-text-little"> LINEA DE TIEMPO </span>
                </div>                 
                <div class="col-sm-10 col-md-2 col-md-offset-0 col-sm-offset-1">
                    <span class="ico-text-little"> APERTURA </span>
                </div>
                <div class="col-sm-10 hidden-md hidden-lg text-align-center col-md-offset-0 col-sm-offset-1">
                    <button class="button-reserve">RESERVAR TOKENS</button>
                </div>
            </div>
            
            <right></right>

            <div class="intro-text">
                <div class="row row-centered margin-bottom-min">
                    <div class="col-centered col-sm-10 col-md-7">
                        <div class="intro-lead ">
                        <h1><span>INVIERTE DE FORMA {</span><span class="blue-word">SEGURA</span><span>}</span></h1> 
                        </div>
                     </div>
                 </div>
            </div>
            
            <div class="intro-ico-description hidden-xs">
                <p>Hasta ahora tu conoces el proyecto a partir de la ICO, COINET te permite </p> 
                <p>conocer el proyecto antes del Whitepaper</p>
            </div>
            
            <div class="row row-centered margin-top-prom">
                <span class="btn-text-video"> <button class="button-video"> VER VIDEO </button> <button class="btn-style"> WHITEPAPER </button></span>    
            </div>
            
            <div class="row equal margin-top-prom margin-bottom-min">  
                <div class="col-xs-10 col-sm-6 col-md-3 col-xs-offset-1 col-sm-offset-0 text-align-center line-numbers margin-bottom-min">  
                    <div id="element1"> 
                         <span class="info-token">  Abreviatura <br>de TOKEN</span>
                    </div>
                    <div id="element2"> 
                        <p class="text-25px"> COT</p>
                    </div> 
                </div>
                
                <div class="col-xs-10 col-sm-6 col-md-3 col-xs-offset-1 col-sm-offset-0 text-align-center line-numbers margin-bottom-min">
                    <div id="element1"> 
                        <p class="text-16px">Supply</p>
                    </div>
                    <div id="element2">
                        <p class="text-25px">10.000.000</p>
                    </div>
                    <div id="element1"> 
                        <span class="info-token">COT</span>
                    </div>
                    <p class="supply-text-description"> No se crearan nuevas monedas</p>
                </div>

                <div class="col-xs-10 col-sm-6 col-md-3 col-xs-offset-1 col-sm-offset-0 text-align-center line-numbers margin-bottom-min">
                    <div id="element1"> 
                         <p class="text-16px">Blockchain</p>
                    </div>
                    <div id="element1"> 
                        <img class="stellar-ico" src="../assets/img/coinet-ico/stellar-ico.png">
                    </div>
                    <div id="element2"> 
                        <p class="text-25px"> Stellar</p>
                    </div>
                </div>

                <div class="col-xs-10 col-sm-6 col-md-3 col-xs-offset-1 col-sm-offset-0 text-align-center margin-bottom-min">
                    <div id="element1"> 
                        <p class="text-16px">SCP</p>
                    </div>
                    <div id="element2"> 
                        <span class="info-token">Stellar Consensus Protocol</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
  </body>
</html>