<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Coinet</title>

        <link rel="icon" href="../assets/img/general/iso.png">

        <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        
        <link href="../assets/vendor/fonts/montserrat.css" rel="stylesheet" type="text/css">
        <link href="../assets/vendor/fonts/roboto.css" rel="stylesheet" type="text/css">
        <link href="../assets/vendor/fonts/raleway.css" rel="stylesheet" type="text/css">
        
        <link href="../assets/css/general.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/coinet-team.css" rel="stylesheet" type="text/css">
      	
    </head>

    <body>
        <div class="main">
            <section id="coinet-team">
            	<div class="container">
            		<div class="row margin-top-min margin-bottom-prom">
	                    <div class="col-xs-12">
	                    	<div class="text-container-over-behind">
	                            <span class="title-behind-team">equipo</span>
	                            <div class="text-container-hover text-container-hover-title">
	                                 <span class="title-container">LOS PILARES {<span class="blue-word">COINET</span>}</span>
	                            </div>
	                        </div>
	                    </div>
                	</div>
                	<div class="row margin-top-prom hidden-xs equal">
	                    <div class="col-sm-3 margin-bottom-min coinet-team-container">
	                    	<div class="row">
	                    		<div class="col-xs-12">
	                    			<div class="text-container-over-behind">
			                            <div class="text-container-hover text-container-hover-charge">
			                                 <span class="charge-style">Fundador</span>
			                            </div>
			                            <div class="text-container-hover text-container-hover-name">
			                                 <p class="charge-name">Director Ejecutivo</p>
			                                 <span class="person-name">
			                                 	<p class="margin-bottom-0">Iván</p>
			                                 	<p class="margin-top-0">Aránzazu</p>
			                                 </span>
			                            </div>
			                            <div class="text-container-hover text-container-hover-linkedin">
			                                <a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive" ></a> 
			                            </div>
			                            <img src="../assets/img/coinet-team/ivan@3x.png" class="img-responsive width-100 img-employee-big">
			                        </div>
			                        <div class="motto-container hidden-sm">
			                        	<p class="motto-text">
			                        		“En este momento se está gestando el nuevo orden mundial de la mano de una tecnología que rompe todos los paradigmas del uso del dinero, las estructuras organizativas y el concepto de la democracia”
			                        	</p>
			                        </div>
	                    		</div>
	                    	</div>
	                    </div>
	                    <div class="col-sm-3 margin-bottom-min coinet-team-container">
	                    	<div class="row">
	                    		<div class="col-xs-12">
	                    			<div class="text-container-over-behind">
			                            <div class="text-container-hover text-container-hover-charge">
			                                 <span class="charge-style">Fundador</span>
			                            </div>
			                            <div class="text-container-hover text-container-hover-name">
			                                 <p class="charge-name">Director de Operaciones</p>
			                                 <span class="person-name">
			                                 	<p class="margin-bottom-0">Fernando</p>
			                                 	<p class="margin-top-0">González</p>
			                                 </span>
			                            </div>
			                            <div class="text-container-hover text-container-hover-linkedin">
			                                <a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive" ></a> 
			                            </div>
			                            <img src="../assets/img/coinet-team/fernando@3x.png" class="img-responsive width-100 img-employee-big">
			                        </div>
			                        <div class="motto-container hidden-sm">
			                        	<p class="motto-text">
			                        		“Blockchain es una tecnología disruptiva que lleva a otro nivel la práctica de los negocios en cualquier área o sector”
			                        	</p>
			                        </div>
	                    		</div>
	                    	</div>
	                    </div>
	                    <div class="col-sm-3 margin-bottom-min coinet-team-container">
	                    	<div class="row">
	                    		<div class="col-xs-12">
	                    			<div class="text-container-over-behind">
			                            <div class="text-container-hover text-container-hover-charge">
			                                 <span class="charge-style">Fundador</span>
			                            </div>
			                            <div class="text-container-hover text-container-hover-name">
			                                 <p class="charge-name">Director de Mercadeo</p>
			                                 <span class="person-name">
			                                 	<p class="margin-bottom-0">Víctor</p>
			                                 	<p class="margin-top-0">Portillo</p>
			                                 </span>
			                            </div>
			                            <div class="text-container-hover text-container-hover-linkedin">
			                                <a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive" ></a> 
			                            </div>
			                            <img src="../assets/img/coinet-team/victor@3x.png" class="img-responsive width-100 img-employee-big">
			                        </div>
			                        <div class="motto-container hidden-sm">
			                        	<p class="motto-text">
			                        		“La tecnología Blockchain y las criptomonedas son el proyecto social y económico más grande de la historia”
			                        	</p>
			                        </div>
	                    		</div>
	                    	</div>
	                    </div>
	                    <div class="col-sm-3 margin-bottom-min coinet-team-container">
	                    	<div class="row">
	                    		<div class="col-xs-12">
	                    			<div class="text-container-over-behind">
			                            <div class="text-container-hover text-container-hover-charge">
			                                 <span class="charge-style">Gerente</span>
			                            </div>
			                            <div class="text-container-hover text-container-hover-name">
			                                 <p class="charge-name">Project Manager</p>
			                                 <span class="person-name">
			                                 	<p class="margin-bottom-0">Marines</p>
			                                 	<p class="margin-top-0">Monserrat</p>
			                                 </span>
			                            </div>
			                            <div class="text-container-hover text-container-hover-linkedin">
			                                <a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive" ></a> 
			                            </div>
			                            <img src="../assets/img/coinet-team/marines@3x.png" class="img-responsive width-100 img-employee-big">
			                        </div>
			                        <div class="motto-container hidden-sm">
			                        	<p class="motto-text">
			                        		"La tecnología BLOCKCHAIN me hace creer que existe la posibilidad de un sistema donde lo más importante son las personas y no los intereses de un grupo privilegiado"
			                        	</p>
			                        </div>
	                    		</div>
	                    	</div>
	                    </div>
	                </div>
	                <div class="row margin-top-min margin-bottom-prom hidden-xs">
	                    <div class="col-sm-4 col-md-6 coinet-team-container margin-top-min">
	                    	<div class="row center-vertical-text motto-container-little">
	                    		<div class="col-sm-6 col-md-3 padding-right-0">
	                    			<img src="../assets/img/coinet-team/lorena@3x.png" class="img-responsive width-100 img-employee-little">
	                    		</div>
	                    		<div class="col-sm-6 col-md-3 padding-right-0">
                    				<p class="employee-charge">Business Development</p>
                    				<span class="employee-name margin-bottom-0">
                    					<p class="margin-bottom-0">Lorena</p>
                    					<p class="margin-top-0">Mejias</p>
                    				</span>
                    				<a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive"></a> 
	                    		</div>
	                    		<div class="col-md-6 hidden-sm padding-left-0">
		                        	<p class="motto-text">
		                        		“Tanto las criptomonedas como el blockchain representan el futuro financiero del mundo; algo que hace 9 años se veía muy lejano, esta tecnología nos liberara de la dependencia económica de las grandes masas.”
		                        	</p>
	                    		</div>
	                    	</div>
	                    </div>
	                    <div class="col-sm-4 col-md-6 coinet-team-container margin-top-min">
	                    	<div class="row center-vertical-text motto-container-little">
	                    		<div class="col-sm-6 col-md-3 padding-right-0">
	                    			<img src="../assets/img/coinet-team/jennifer@3x.png" class="img-responsive width-100 img-employee-little">
	                    		</div>
	                    		<div class="col-sm-6 col-md-3 padding-right-0">
                    				<p class="employee-charge">Generador de contenido</p>
                    				<span class="employee-name margin-bottom-0">
                    					<p class="margin-bottom-0">Jennifer</p>
                    					<p class="margin-top-0">Galindo</p>
                    				</span>
                    				<a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive"></a> 
	                    		</div>
	                    		<div class="col-md-6 hidden-sm padding-left-0">
		                        	<p class="motto-text">
		                        		“Las criptomonedas son parte del futuro, el que no las conozca hoy, mañana tendrá que utilizarlas sin ganancias. Estudia, invierte y proyecta, la tecnología avanza y no espera a nadie”
		                        	</p>
	                    		</div>
	                    	</div>
	                    </div>
	                    <div class="col-sm-4 col-md-6 coinet-team-container margin-top-min">
	                    	<div class="row center-vertical-text motto-container-little">
	                    		<div class="col-sm-6 col-md-3 padding-right-0">
	                    			<img src="../assets/img/coinet-team/rayvis@3x.png" class="img-responsive width-100 img-employee-little">
	                    		</div>
	                    		<div class="col-sm-6 col-md-3 padding-right-0">
                    				<p class="employee-charge">Director Financiero (CFO)</p>
                    				<span class="employee-name margin-bottom-0">
                    					<p class="margin-bottom-0">Rayvis</p>
                    					<p class="margin-top-0">Rojas</p>
                    				</span>
                    				<a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive"></a> 
	                    		</div>
	                    		<div class="col-md-6 hidden-sm padding-left-0">
		                        	<p class="motto-text">
		                        		“Nada es imposible para una mente dispuesta, El blockchain y las criptomonedas es la nueva forma de emprender y asegurar el futuro y tu vejez”
		                        	</p>
	                    		</div>
	                    	</div>
	                    </div>
	                    <div class="col-sm-4 col-md-6 coinet-team-container margin-top-min">
	                    	<div class="row center-vertical-text motto-container-little">
	                    		<div class="col-sm-6 col-md-3 padding-right-0">
	                    			<img src="../assets/img/coinet-team/ricardo@3x.png" class="img-responsive width-100 img-employee-little">
	                    		</div>
	                    		<div class="col-sm-6 col-md-3 padding-right-0">
                    				<p class="employee-charge">Smart Contract Developer</p>
                    				<span class="employee-name margin-bottom-0">
                    					<p class="margin-bottom-0">Ricardo</p>
                    					<p class="margin-top-0">Dizio</p>
                    				</span>
                    				<a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive"></a> 
	                    		</div>
	                    		<div class="col-md-6 hidden-sm padding-left-0">
		                        	<p class="motto-text">
		                        		“Es nuestra oportunidad de tener un mundo más seguro y transparente donde todos podamos ser partícipes en una red más distribuida gracias a las ventajas de la programación y el Blockchain”
		                        	</p>
	                    		</div>
	                    	</div>
	                    </div>
	                    <div class="col-sm-4 col-md-6 coinet-team-container margin-top-min">
	                    	<div class="row center-vertical-text motto-container-little">
	                    		<div class="col-sm-6 col-md-3 padding-right-0">
	                    			<img src="../assets/img/coinet-team/gabriel@3x.png" class="img-responsive width-100 img-employee-little">
	                    		</div>
	                    		<div class="col-sm-6 col-md-3 padding-right-0">
                    				<p class="employee-charge">Developer</p>
                    				<span class="employee-name margin-bottom-0">
                    					<p class="margin-bottom-0">Gabriel</p>
                    					<p class="margin-top-0">Noya</p>
                    				</span>
                    				<a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive"></a> 
	                    		</div>
	                    		<div class="col-md-6 hidden-sm padding-left-0">
		                        	<p class="motto-text">
		                        		“Dar a los usuarios un sistema realmente seguro, eficiente, confiable y libre de intermediarios es tan solo una pequeña parte del verdadero potencial del Blockchain”
		                        	</p>
	                    		</div>
	                    	</div>
	                    </div>
	                    <div class="col-sm-4 col-md-6 coinet-team-container margin-top-min">
	                    	<div class="row center-vertical-text motto-container-little">
	                    		<div class="col-sm-6 col-md-3 padding-right-0">
	                    			<img src="../assets/img/coinet-team/victor-g@3x.png" class="img-responsive width-100 img-employee-little">
	                    		</div>
	                    		<div class="col-sm-6 col-md-3 padding-right-0">
                    				<p class="employee-charge">Developer</p>
                    				<span class="employee-name margin-bottom-0">
                    					<p class="margin-bottom-0">Victor</p>
                    					<p class="margin-top-0">Garcia</p>
                    				</span>
                    				<a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive"></a> 
	                    		</div>
	                    		<div class="col-md-6 hidden-sm padding-left-0">
		                        	<p class="motto-text">
		                        		“No permitas que una idea se quede atrapada en el pasado, es momento de hacerla realidad con la tecnología que será la base comercial del mundo”
		                        	</p>
	                    		</div>
	                    	</div>
	                    </div>
	                    <div class="col-sm-4 col-md-6 coinet-team-container margin-top-min">
	                    	<div class="row center-vertical-text motto-container-little">
	                    		<div class="col-sm-6 col-md-3 padding-right-0">
	                    			<img src="../assets/img/coinet-team/steeven@3x.png" class="img-responsive width-100 img-employee-little">
	                    		</div>
	                    		<div class="col-sm-6 col-md-3 padding-right-0">
                    				<p class="employee-charge">UI Designer</p>
                    				<span class="employee-name margin-bottom-0">
                    					<p class="margin-bottom-0">Steeven</p>
                    					<p class="margin-top-0">Castellanos</p>
                    				</span>
                    				<a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive"></a> 
	                    		</div>
	                    		<div class="col-md-6 hidden-sm padding-left-0">
		                        	<p class="motto-text">
		                        		“Estamos ante avances tecnológicos cruciales en el mundo del desarrollo web, mismo caso para el diseño de interfaces en donde se deberán cumplir todos los patrones web para que una web pueda ser publicada”
		                        	</p>
	                    		</div>
	                    	</div>
	                    </div>
	                    <div class="col-sm-4 col-md-6 coinet-team-container margin-top-min">
	                    	<div class="row center-vertical-text motto-container-little">
	                    		<div class="col-sm-6 col-md-3 padding-right-0">
	                    			<img src="../assets/img/coinet-team/default.png" class="img-responsive width-100 img-employee-little">
	                    		</div>
	                    		<div class="col-sm-6 col-md-3 padding-right-0">
                    				<p class="employee-charge">Community Manager</p>
                    				<span class="employee-name margin-bottom-0">
                    					<p class="margin-bottom-0">Carolin</p>
                    					<p class="margin-top-0">Castillo</p>
                    				</span>
                    				<a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive"></a> 
	                    		</div>
	                    		<div class="col-md-6 hidden-sm padding-left-0">
		                        	<p class="motto-text">
		                        		“La comunidad cripto tiene a los medios sociales como herramienta básica para la comunicación, para nosotros es muy interesante experimentar las nuevas formas de hacer negocios e inversiones” 
		                        	</p>
	                    		</div>
	                    	</div>
	                    </div>
	                </div>
            	</div>
           	</section>
        </div>
        
        <script src="../assets/vendor/jquery/jquery.min.js" type="text/javascript"></script>
        <script src="../assets/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/vendor/jquery-easing/jquery.easing.min.js" type="text/javascript"></script>
        
        <script src="../assets/js/main.js" type="text/javascript"></script>

    </body>
</html>