
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coinet</title>

    <link rel="icon" href="../assets/img/general/iso.png">

    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    
    <link href="../assets/vendor/fonts/montserrat.css" rel="stylesheet" type="text/css">
    <link href="../assets/vendor/fonts/roboto.css" rel="stylesheet" type="text/css">
    <link href="../assets/vendor/fonts/raleway.css" rel="stylesheet" type="text/css">
    
    <link href="../assets/css/general.css" rel="stylesheet" type="text/css">
    
    <link href="../assets/css/navbar-header.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/coinet-ico-header.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/coinet-team.css" rel="stylesheet" type="text/css">
   
    <link href="../assets/css/footer.css" rel="stylesheet" type="text/css">

  </head>

  <body>

  	<nav class="navbar navbar-custom navbar-fixed-top" id="mainNav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="brand" href="#"> <img class="pull-left icon-nav" src="../assets/img/navbar-header/logo-coinet@3x.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="js-scroll-trigger" href="#coinet-power"> SERVICIOS </a></li>
                    <li><a class="js-scroll-trigger" href="#coinet-proyects"> PROYECTOS </a></li>
                    <li><a class="js-scroll-trigger" href="#coinet-team"> TEAM </a></li>
                    <li><a class="js-scroll-trigger" href="#coinet-4geeks"> FUNDACIÓN </a></li>
                    <li><a href="#"> ICO </a></li>
                    <li><a href="#"> LOGIN </a></li>
                    <li><button class="btn-style margin-top-fix" data-toggle="modal" data-target="#modal-request"> REGISTRO </button></li>
                </ul>
            </div>
        </div>
    </nav>

    <header id="coinet-ico">
        <div class="container-fluid">
            <div class="row margin-top-prom margin-bottom-min">
                <div class="col-sm-10 col-md-3 col-sm-offset-1">
                    <div class="intro-lead">
                        <h3><span>LANZAMIENTO {</span><span class="blue-word">COT</span><span>}</span></h3>   
                    </div>
                </div>                  
                <div class="col-xs-3 col-sm-2 col-md-1 col-md-offset-0 col-sm-offset-1 col-xs-offset-1 text-align-center">
                    <span class="time-numbers">02</span>   
                    <span class="ico-text-little">MESES</span>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1 text-align-center">
                    <span class="time-numbers">02</span>
                    <span class="ico-text-little">DIAS</span>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1 text-align-center">
                    <span class="time-numbers">02</span> 
                    <span class="ico-text-little">HORAS</span>
                </div>
                <div class="col-sm-2 col-md-1 hidden-xs text-align-center">
                    <span class="time-numbers">02</span>
                    <span class="ico-text-little">MIN</span>
                </div>
                <div class="col-sm-2 col-md-1 hidden-xs text-align-center">
                    <span class="time-numbers">02</span>
                    <span class="ico-text-little blue-word">SEG</span>
                </div>
                <div class="col-md-2 hidden-xs hidden-sm">
                    <button class="button-reserve">RESERVAR TOKENS</button>
                </div>
            </div>
            <div class="row margin-bottom-prom">
                <div class="col-sm-10 col-md-4 col-sm-offset-1">
                    <span class="ico-text-little"> TIEMPO DE ESPERA </span>
                </div>
                <div class="col-sm-10 col-md-5 col-md-offset-0 col-sm-offset-1">
                    <span class="ico-text-little"> LINEA DE TIEMPO </span>
                </div>                 
                <div class="col-sm-10 col-md-2 col-md-offset-0 col-sm-offset-1">
                    <span class="ico-text-little"> APERTURA </span>
                </div>
                <div class="col-sm-10 hidden-md hidden-lg text-align-center col-md-offset-0 col-sm-offset-1">
                    <button class="button-reserve">RESERVAR TOKENS</button>
                </div>
            </div>
            
            <right></right>

            <div class="intro-text">
                <div class="row row-centered margin-bottom-min">
                    <div class="col-centered col-sm-10 col-md-7">
                        <div class="intro-lead ">
                        <h1><span>INVIERTE DE FORMA {</span><span class="blue-word">SEGURA</span><span>}</span></h1> 
                        </div>
                     </div>
                 </div>
            </div>
            
            <div class="intro-ico-description hidden-xs">
                <p>Hasta ahora tu conoces el proyecto a partir de la ICO, COINET te permite </p> 
                <p>conocer el proyecto antes del Whitepaper</p>
            </div>
            
            <div class="row row-centered margin-top-prom">
                <span class="btn-text-video"> <button class="button-video"> VER VIDEO </button> <button class="btn-style"> WHITEPAPER </button></span>    
            </div>
            
            <div class="row equal margin-top-prom margin-bottom-min">  
                <div class="col-xs-10 col-sm-6 col-md-3 col-xs-offset-1 col-sm-offset-0 text-align-center line-numbers margin-bottom-min">  
                    <div id="element1"> 
                         <span class="info-token">  Abreviatura <br>de TOKEN</span>
                    </div>
                    <div id="element2"> 
                        <p class="text-25px"> COT</p>
                    </div> 
                </div>
                
                <div class="col-xs-10 col-sm-6 col-md-3 col-xs-offset-1 col-sm-offset-0 text-align-center line-numbers margin-bottom-min">
                    <div id="element1"> 
                        <p class="text-16px">Supply</p>
                    </div>
                    <div id="element2">
                        <p class="text-25px">10.000.000</p>
                    </div>
                    <div id="element1"> 
                        <span class="info-token">COT</span>
                    </div>
                    <p class="supply-text-description"> No se crearan nuevas monedas</p>
                </div>

                <div class="col-xs-10 col-sm-6 col-md-3 col-xs-offset-1 col-sm-offset-0 text-align-center line-numbers margin-bottom-min">
                    <div id="element1"> 
                         <p class="text-16px">Blockchain</p>
                    </div>
                    <div id="element1"> 
                        <img class="stellar-ico" src="../assets/img/coinet-ico/stellar-ico.png">
                    </div>
                    <div id="element2"> 
                        <p class="text-25px"> Stellar</p>
                    </div>
                </div>

                <div class="col-xs-10 col-sm-6 col-md-3 col-xs-offset-1 col-sm-offset-0 text-align-center margin-bottom-min">
                    <div id="element1"> 
                        <p class="text-16px">SCP</p>
                    </div>
                    <div id="element2"> 
                        <span class="info-token">Stellar Consensus Protocol</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="main">
    	<section id="coinet-team">
			<div class="container">
				<div class="row margin-top-min margin-bottom-prom">
		            <div class="col-xs-12">
		            	<div class="text-container-over-behind">
		                    <span class="title-behind-team">equipo</span>
		                    <div class="text-container-hover text-container-hover-title">
		                         <span class="title-container">LOS PILARES {<span class="blue-word">COINET</span>}</span>
		                    </div>
		                </div>
		            </div>
		    	</div>
		    	<div class="row margin-top-prom hidden-xs equal">
		            <div class="col-sm-3 margin-bottom-min coinet-team-container">
		            	<div class="row">
		            		<div class="col-xs-12">
		            			<div class="text-container-over-behind">
		                            <div class="text-container-hover text-container-hover-charge">
		                                 <span class="charge-style">Fundador</span>
		                            </div>
		                            <div class="text-container-hover text-container-hover-name">
		                                 <p class="charge-name">Director Ejecutivo</p>
		                                 <span class="person-name">
		                                 	<p class="margin-bottom-0">Iván</p>
		                                 	<p class="margin-top-0">Aránzazu</p>
		                                 </span>
		                            </div>
		                            <div class="text-container-hover text-container-hover-linkedin">
		                                <a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive" ></a> 
		                            </div>
		                            <img src="../assets/img/coinet-team/ivan@3x.png" class="img-responsive width-100 img-employee-big">
		                        </div>
		                        <div class="motto-container hidden-sm">
		                        	<p class="motto-text">
		                        		“En este momento se está gestando el nuevo orden mundial de la mano de una tecnología que rompe todos los paradigmas del uso del dinero, las estructuras organizativas y el concepto de la democracia”
		                        	</p>
		                        </div>
		            		</div>
		            	</div>
		            </div>
		            <div class="col-sm-3 margin-bottom-min coinet-team-container">
		            	<div class="row">
		            		<div class="col-xs-12">
		            			<div class="text-container-over-behind">
		                            <div class="text-container-hover text-container-hover-charge">
		                                 <span class="charge-style">Fundador</span>
		                            </div>
		                            <div class="text-container-hover text-container-hover-name">
		                                 <p class="charge-name">Director de Operaciones</p>
		                                 <span class="person-name">
		                                 	<p class="margin-bottom-0">Fernando</p>
		                                 	<p class="margin-top-0">González</p>
		                                 </span>
		                            </div>
		                            <div class="text-container-hover text-container-hover-linkedin">
		                                <a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive" ></a> 
		                            </div>
		                            <img src="../assets/img/coinet-team/fernando@3x.png" class="img-responsive width-100 img-employee-big">
		                        </div>
		                        <div class="motto-container hidden-sm">
		                        	<p class="motto-text">
		                        		“Blockchain es una tecnología disruptiva que lleva a otro nivel la práctica de los negocios en cualquier área o sector”
		                        	</p>
		                        </div>
		            		</div>
		            	</div>
		            </div>
		            <div class="col-sm-3 margin-bottom-min coinet-team-container">
		            	<div class="row">
		            		<div class="col-xs-12">
		            			<div class="text-container-over-behind">
		                            <div class="text-container-hover text-container-hover-charge">
		                                 <span class="charge-style">Fundador</span>
		                            </div>
		                            <div class="text-container-hover text-container-hover-name">
		                                 <p class="charge-name">Director de Mercadeo</p>
		                                 <span class="person-name">
		                                 	<p class="margin-bottom-0">Víctor</p>
		                                 	<p class="margin-top-0">Portillo</p>
		                                 </span>
		                            </div>
		                            <div class="text-container-hover text-container-hover-linkedin">
		                                <a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive" ></a> 
		                            </div>
		                            <img src="../assets/img/coinet-team/victor@3x.png" class="img-responsive width-100 img-employee-big">
		                        </div>
		                        <div class="motto-container hidden-sm">
		                        	<p class="motto-text">
		                        		“La tecnología Blockchain y las criptomonedas son el proyecto social y económico más grande de la historia”
		                        	</p>
		                        </div>
		            		</div>
		            	</div>
		            </div>
		            <div class="col-sm-3 margin-bottom-min coinet-team-container">
		            	<div class="row">
		            		<div class="col-xs-12">
		            			<div class="text-container-over-behind">
		                            <div class="text-container-hover text-container-hover-charge">
		                                 <span class="charge-style">Gerente</span>
		                            </div>
		                            <div class="text-container-hover text-container-hover-name">
		                                 <p class="charge-name">Project Manager</p>
		                                 <span class="person-name">
		                                 	<p class="margin-bottom-0">Marines</p>
		                                 	<p class="margin-top-0">Monserrat</p>
		                                 </span>
		                            </div>
		                            <div class="text-container-hover text-container-hover-linkedin">
		                                <a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive" ></a> 
		                            </div>
		                            <img src="../assets/img/coinet-team/marines@3x.png" class="img-responsive width-100 img-employee-big">
		                        </div>
		                        <div class="motto-container hidden-sm">
		                        	<p class="motto-text">
		                        		"La tecnología BLOCKCHAIN me hace creer que existe la posibilidad de un sistema donde lo más importante son las personas y no los intereses de un grupo privilegiado"
		                        	</p>
		                        </div>
		            		</div>
		            	</div>
		            </div>
		        </div>
		        <div class="row margin-top-min margin-bottom-prom hidden-xs">
		            <div class="col-sm-4 col-md-6 coinet-team-container margin-top-min">
		            	<div class="row center-vertical-text motto-container-little">
		            		<div class="col-sm-6 col-md-3 padding-right-0">
		            			<img src="../assets/img/coinet-team/lorena@3x.png" class="img-responsive width-100 img-employee-little">
		            		</div>
		            		<div class="col-sm-6 col-md-3 padding-right-0">
		        				<p class="employee-charge">Business Development</p>
		        				<span class="employee-name margin-bottom-0">
		        					<p class="margin-bottom-0">Lorena</p>
		        					<p class="margin-top-0">Mejias</p>
		        				</span>
		        				<a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive"></a> 
		            		</div>
		            		<div class="col-md-6 hidden-sm padding-left-0">
		                    	<p class="motto-text">
		                    		“Tanto las criptomonedas como el blockchain representan el futuro financiero del mundo; algo que hace 9 años se veía muy lejano, esta tecnología nos liberara de la dependencia económica de las grandes masas.”
		                    	</p>
		            		</div>
		            	</div>
		            </div>
		            <div class="col-sm-4 col-md-6 coinet-team-container margin-top-min">
		            	<div class="row center-vertical-text motto-container-little">
		            		<div class="col-sm-6 col-md-3 padding-right-0">
		            			<img src="../assets/img/coinet-team/jennifer@3x.png" class="img-responsive width-100 img-employee-little">
		            		</div>
		            		<div class="col-sm-6 col-md-3 padding-right-0">
		        				<p class="employee-charge">Generador de contenido</p>
		        				<span class="employee-name margin-bottom-0">
		        					<p class="margin-bottom-0">Jennifer</p>
		        					<p class="margin-top-0">Galindo</p>
		        				</span>
		        				<a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive"></a> 
		            		</div>
		            		<div class="col-md-6 hidden-sm padding-left-0">
		                    	<p class="motto-text">
		                    		“Las criptomonedas son parte del futuro, el que no las conozca hoy, mañana tendrá que utilizarlas sin ganancias. Estudia, invierte y proyecta, la tecnología avanza y no espera a nadie”
		                    	</p>
		            		</div>
		            	</div>
		            </div>
		            <div class="col-sm-4 col-md-6 coinet-team-container margin-top-min">
		            	<div class="row center-vertical-text motto-container-little">
		            		<div class="col-sm-6 col-md-3 padding-right-0">
		            			<img src="../assets/img/coinet-team/rayvis@3x.png" class="img-responsive width-100 img-employee-little">
		            		</div>
		            		<div class="col-sm-6 col-md-3 padding-right-0">
		        				<p class="employee-charge">Director Financiero (CFO)</p>
		        				<span class="employee-name margin-bottom-0">
		        					<p class="margin-bottom-0">Rayvis</p>
		        					<p class="margin-top-0">Rojas</p>
		        				</span>
		        				<a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive"></a> 
		            		</div>
		            		<div class="col-md-6 hidden-sm padding-left-0">
		                    	<p class="motto-text">
		                    		“Nada es imposible para una mente dispuesta, El blockchain y las criptomonedas es la nueva forma de emprender y asegurar el futuro y tu vejez”
		                    	</p>
		            		</div>
		            	</div>
		            </div>
		            <div class="col-sm-4 col-md-6 coinet-team-container margin-top-min">
		            	<div class="row center-vertical-text motto-container-little">
		            		<div class="col-sm-6 col-md-3 padding-right-0">
		            			<img src="../assets/img/coinet-team/ricardo@3x.png" class="img-responsive width-100 img-employee-little">
		            		</div>
		            		<div class="col-sm-6 col-md-3 padding-right-0">
		        				<p class="employee-charge">Smart Contract Developer</p>
		        				<span class="employee-name margin-bottom-0">
		        					<p class="margin-bottom-0">Ricardo</p>
		        					<p class="margin-top-0">Dizio</p>
		        				</span>
		        				<a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive"></a> 
		            		</div>
		            		<div class="col-md-6 hidden-sm padding-left-0">
		                    	<p class="motto-text">
		                    		“Es nuestra oportunidad de tener un mundo más seguro y transparente donde todos podamos ser partícipes en una red más distribuida gracias a las ventajas de la programación y el Blockchain”
		                    	</p>
		            		</div>
		            	</div>
		            </div>
		            <div class="col-sm-4 col-md-6 coinet-team-container margin-top-min">
		            	<div class="row center-vertical-text motto-container-little">
		            		<div class="col-sm-6 col-md-3 padding-right-0">
		            			<img src="../assets/img/coinet-team/gabriel@3x.png" class="img-responsive width-100 img-employee-little">
		            		</div>
		            		<div class="col-sm-6 col-md-3 padding-right-0">
		        				<p class="employee-charge">Developer</p>
		        				<span class="employee-name margin-bottom-0">
		        					<p class="margin-bottom-0">Gabriel</p>
		        					<p class="margin-top-0">Noya</p>
		        				</span>
		        				<a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive"></a> 
		            		</div>
		            		<div class="col-md-6 hidden-sm padding-left-0">
		                    	<p class="motto-text">
		                    		“Dar a los usuarios un sistema realmente seguro, eficiente, confiable y libre de intermediarios es tan solo una pequeña parte del verdadero potencial del Blockchain”
		                    	</p>
		            		</div>
		            	</div>
		            </div>
		            <div class="col-sm-4 col-md-6 coinet-team-container margin-top-min">
		            	<div class="row center-vertical-text motto-container-little">
		            		<div class="col-sm-6 col-md-3 padding-right-0">
		            			<img src="../assets/img/coinet-team/victor-g@3x.png" class="img-responsive width-100 img-employee-little">
		            		</div>
		            		<div class="col-sm-6 col-md-3 padding-right-0">
		        				<p class="employee-charge">Developer</p>
		        				<span class="employee-name margin-bottom-0">
		        					<p class="margin-bottom-0">Victor</p>
		        					<p class="margin-top-0">Garcia</p>
		        				</span>
		        				<a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive"></a> 
		            		</div>
		            		<div class="col-md-6 hidden-sm padding-left-0">
		                    	<p class="motto-text">
		                    		“No permitas que una idea se quede atrapada en el pasado, es momento de hacerla realidad con la tecnología que será la base comercial del mundo”
		                    	</p>
		            		</div>
		            	</div>
		            </div>
		            <div class="col-sm-4 col-md-6 coinet-team-container margin-top-min">
		            	<div class="row center-vertical-text motto-container-little">
		            		<div class="col-sm-6 col-md-3 padding-right-0">
		            			<img src="../assets/img/coinet-team/steeven@3x.png" class="img-responsive width-100 img-employee-little">
		            		</div>
		            		<div class="col-sm-6 col-md-3 padding-right-0">
		        				<p class="employee-charge">UI Designer</p>
		        				<span class="employee-name margin-bottom-0">
		        					<p class="margin-bottom-0">Steeven</p>
		        					<p class="margin-top-0">Castellanos</p>
		        				</span>
		        				<a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive"></a> 
		            		</div>
		            		<div class="col-md-6 hidden-sm padding-left-0">
		                    	<p class="motto-text">
		                    		“Estamos ante avances tecnológicos cruciales en el mundo del desarrollo web, mismo caso para el diseño de interfaces en donde se deberán cumplir todos los patrones web para que una web pueda ser publicada”
		                    	</p>
		            		</div>
		            	</div>
		            </div>
		            <div class="col-sm-4 col-md-6 coinet-team-container margin-top-min">
		            	<div class="row center-vertical-text motto-container-little">
		            		<div class="col-sm-6 col-md-3 padding-right-0">
		            			<img src="../assets/img/coinet-team/default.png" class="img-responsive width-100 img-employee-little">
		            		</div>
		            		<div class="col-sm-6 col-md-3 padding-right-0">
		        				<p class="employee-charge">Community Manager</p>
		        				<span class="employee-name margin-bottom-0">
		        					<p class="margin-bottom-0">Carolin</p>
		        					<p class="margin-top-0">Castillo</p>
		        				</span>
		        				<a href="#"><img src="../assets/img/coinet-team/LinkedIn.png" class="img-responsive"></a> 
		            		</div>
		            		<div class="col-md-6 hidden-sm padding-left-0">
		                    	<p class="motto-text">
		                    		“La comunidad cripto tiene a los medios sociales como herramienta básica para la comunicación, para nosotros es muy interesante experimentar las nuevas formas de hacer negocios e inversiones” 
		                    	</p>
		            		</div>
		            	</div>
		            </div>
		        </div>
			</div>
			<div class="row margin-top-min equal">
                <div class="hidden-xs col-sm-5 col-md-3 padding-right-0">
                	<img src="../assets/img/coinet-team/image-1@3x.png" class="img-responsive width-100 height-100">
                </div>
                <div class="col-xs-12 col-sm-7 col-md-4 padding-left-0 padding-right-0">
                	<div class="text-container-over-behind width-100 height-100">
                		<div class="collage-hover">
                			<div class="collage-hover-content">
                				<p class="collage-hover-title">NUESTRO EQUIPO EN SUS PUESTOS DE TRABAJO HACIENDO REALIDAD PROYECTOS QUE IMPACTEN Y CONTRIBUYAN A LA SOCIEDAD.</p>
                				<p class="collage-hover-date">21 DIC 2017</p>
                			</div>
                		</div>
                		<img src="../assets/img/coinet-team/image-2@3x.png" class="img-responsive width-100 height-100">
                	</div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-5  padding-left-0 padding-right-0">
                	<img src="../assets/img/coinet-team/image-3@3x.png" class="img-responsive width-100 height-100">
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4  padding-left-0 padding-right-0">
                	<img src="../assets/img/coinet-team/image-4@3x.png" class="img-responsive width-100 height-100">
                </div>
                <div class="col-xs-12 col-sm-7 col-md-4  padding-left-0 padding-right-0">
                	<img src="../assets/img/coinet-team/image-5@3x.png" class="img-responsive width-100 height-100">
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4  padding-left-0 padding-right-0">
                	<img src="../assets/img/coinet-team/image-6@3x.png" class="img-responsive width-100 height-100">
                </div>
            </div>
		</section>
    </div>

    <div class="footer">
      <div class="container margin-top-prom margin-bottom-prom">
          <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <h2 class="margin-bottom-prom margin-top-prom"> Información de Contacto </h2>
                  <div class="row"> 
                      <div class="col-xs-1">
                          <img class="contact-icons" src="../assets/img/footer/direccion-ico.png">
                      </div>
                      <div class="col-xs-10">
                          <span>
                              <p class="margin-bottom-0"> Dirección </p>
                              <p class="margin-top-0"> Calle Pascuale Giorgio Edificio Principal 1 Piso 2 Oficina 2-1 Urb Los Ruices Caracas Zona Postal </p>
                          </span>          
                      </div>
                  </div>
                  <div class="row"> 
                      <div class="col-xs-1">
                          <img class="contact-icons" src="../assets/img/footer/horario-ico.png">
                      </div>
                      <div class="col-xs-10">
                          <span>  
                              <p class="margin-bottom-0"> Horarios de Atención:</p>
                              <p class="margin-top-0"> 09:00 -17:30 </p>
                          <span>               
                      </div>
                  </div>       
                  <div class="row"> 
                      <div class="col-xs-1">
                          <img class="contact-icons" src="../assets/img/footer/telefono-ico.png">
                      </div>
                      <div class="col-xs-10">
                          <span>  
                              <p class="margin-bottom-0"> Telefonos: </p>
                              <p class="margin-top-0"> +58 212-5266501 </p>
                          <span>            
                      </div>
                  </div>                
                  <div class="row"> 
                      <div class="col-xs-1">
                          <img class="contact-icons" src="../assets/img/footer/e-mail-ico.png">
                      </div>
                      <div class="col-xs-10">
                          <span>  
                              <p class="margin-bottom-0"> E-mail: </p>
                              <p class="margin-top-0"> info@coinet.network </p>
                          <span>         
                      </div>
                  </div> 
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <h2 class="margin-bottom-prom margin-top-prom"> Subscribirme a Coinet </h2>
                  <p> 
                      Quieres lanzar una ICO, necesitas asesoría en trading de criptomonedas? Déjanos tu correo y nos pondremos en contacto con usted pronto.
                  </p>
                  <input class="margin-top-min margin-bottom-min width-100" type="text" placeholder="   E-mail">
                  <div class="margin-top-min margin-bottom-prom">
                      <button class="btn-style float-right"> Subscribirme </button>
                  </div>
              </div>
              <div class="col-md-3 col-md-offset-1 hidden-sm hidden-xs margin-bottom-prom">
                  <h2 class="margin-bottom-prom margin-top-prom"> Mini Galería Coinet </h2>
                  <div class="row margin-bottom-prom"> 
                      <div class="col-md-4">
                         <img src="../assets/img/footer/imagen-instagram-1.png">
                      </div>
                      <div class="col-md-4">
                         <img src="../assets/img/footer/imagen-instagram-2.png">
                      </div>
                      <div class="col-md-4">
                         <img src="../assets/img/footer/imagen-instagram-3.png">
                      </div>
                  </div>
                  <div class="row margin-bottom-prom"> 
                      <div class="col-md-4">
                         <img src="../assets/img/footer/imagen-instagram-4.png">
                      </div>
                      <div class="col-md-4">
                         <img src="../assets/img/footer/imagen-instagram-5.png">
                      </div>
                      <div class="col-md-4">
                         <img src="../assets/img/footer/imagen-instagram-6.png">
                      </div>
                  </div>
                  <div class="row margin-bottom-prom"> 
                      <div class="col-md-4">
                         <img src="../assets/img/footer/imagen-instagram-4.png">
                      </div>
                      <div class="col-md-4">
                         <img src="../assets/img/footer/imagen-instagram-5.png">
                      </div>
                      <div class="col-md-4">
                         <img src="../assets/img/footer/imagen-instagram-6.png">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-copyright center-vertical-text">
          <div class="container-fluid">
              <h5 class="copyright_text">
                  Copyright &copy; 2017 Grupo Coinet
              </h5> 
          </div>
      </div>
  	</div>
    
  </body>
</html>