<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Coinet</title>

        <link rel="icon" href="../assets/img/iso.png">

        <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/montserrat.css" rel="stylesheet">
        <link href="../assets/css/roboto.css" rel="stylesheet">
        <link href="../assets/css/raleway.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/general.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/coinet-team.css" rel="stylesheet" type="text/css">
        
        <script src="../assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
        <script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
    </head>

    <body>
        <div class="main">
            <section id="coinet-team">
            	<div class="container">
            		<div class="row margin-top-min margin-bottom-prom">
	                    <div class="col-xs-12">
	                    	<div class="text-container-over-behind">
	                            <span class="title-behind-team">equipo</span>
	                            <div class="text-container-hover text-container-hover-title">
	                                 <span class="title-container">LOS PILARES {<span class="blue-word">COINET</span>}</span>
	                            </div>
	                        </div>
	                    </div>
                	</div>
                	<div class="row margin-top-prom margin-bottom-min hidden-xs equal">
	                    <div class="col-sm-3 margin-bottom-min coinet-team-container">
	                    	<div class="row">
	                    		<div class="col-xs-12">
	                    			<div class="text-container-over-behind">
			                            <div class="text-container-hover text-container-hover-charge">
			                                 <span class="charge-style">Fundador</span>
			                            </div>
			                            <div class="text-container-hover text-container-hover-name">
			                                 <p class="charge-name">Fundador</p>
			                                 <span class="person-name">
			                                 	<p class="margin-bottom-0">Iván</p>
			                                 	<p class="margin-top-0">Aránzazu</p>
			                                 </span>
			                            </div>
			                            <div class="text-container-hover text-container-hover-linkedin">
			                                <a href="#"><img src="../assets/img/perfil-ico.png" class="img-responsive" ></a> 
			                            </div>
			                            <img src="../assets/img/ivan@2x.png" class="img-responsive width-100 img-employee-big">
			                        </div>
			                        <div class="motto-container hidden-sm">
			                        	<p class="motto-text">
			                        		“En este momento se está gestando el nuevo orden mundial de la mano de una tecnología que rompe todos los paradigmas del uso del dinero, las estructuras organizativas y el concepto de la democracia”
			                        	</p>
			                        </div>
	                    		</div>
	                    	</div>
	                    </div>
	                    <div class="col-sm-3 margin-bottom-min coinet-team-container">
	                    	<div class="row">
	                    		<div class="col-xs-12">
	                    			<div class="text-container-over-behind">
			                            <div class="text-container-hover text-container-hover-charge">
			                                 <span class="charge-style">Fundador</span>
			                            </div>
			                            <div class="text-container-hover text-container-hover-name">
			                                 <p class="charge-name">Fundador</p>
			                                 <span class="person-name">
			                                 	<p class="margin-bottom-0">Iván</p>
			                                 	<p class="margin-top-0">Aránzazu</p>
			                                 </span>
			                            </div>
			                            <div class="text-container-hover text-container-hover-linkedin">
			                                <a href="#"><img src="../assets/img/perfil-ico.png" class="img-responsive" ></a> 
			                            </div>
			                            <img src="../assets/img/ivan@2x.png" class="img-responsive width-100 img-employee-big">
			                        </div>
			                        <div class="motto-container hidden-sm">
			                        	<p class="motto-text">
			                        		“Blockchain es una tecnología disruptiva que lleva a otro nivel la práctica de los negocios en cualquier área o sector”
			                        	</p>
			                        </div>
	                    		</div>
	                    	</div>
	                    </div>
	                </div>
	                <div class="row margin-top-min margin-bottom-prom hidden-xs">
	                    <div class="col-xs-12 col-sm-6 coinet-team-container">
	                    	<div class="row center-vertical-text motto-container-little equal">
	                    		<div class="col-xs-12 col-sm-3 padding-right-0">
	                    			<img src="../assets/img/jennifer@2x.png" class="img-responsive width-100 img-employee-little">
	                    		</div>
	                    		<div class="col-xs-12 col-sm-3 padding-right-0">
                    				<p class="employee-charge">Generador de contenido</p>
                    				<span class="employee-name margin-bottom-0">
                    					<p class="margin-bottom-0">Jennifer</p>
                    					<p class="margin-top-0">Galindo</p>
                    				</span>
                    				<a href="#"><img src="../assets/img/perfil-ico.png" class="img-responsive"></a> 
	                    		</div>
	                    		<div class="col-xs-12 col-sm-6 padding-left-0">
		                        	<p class="motto-text">
		                        		“Las criptomonedas son parte del futuro, el que no las conozca hoy, mañana tendrá que utilizarlas sin ganancias. Estudia, invierte y proyecta, la tecnología avanza y no espera a nadie”
		                        	</p>
	                    		</div>
	                    	</div>
	                    </div>
	                </div>
            	</div>
            </section>
        </div>
    </body>
</html>