<html lang="en">
<!DOCTYPE html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coinet</title>

    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/raleway.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/raleway-black.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/roboto.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/general.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/footer.css" rel="stylesheet" type="text/css">


    <script src="../assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>

  </head>

  <body>
      <div class="main">
      </div>
      <div class="footer">
          <div class="container margin-top-prom margin-bottom-prom">
              <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                      <h2 class="margin-bottom-prom margin-top-prom"> Información de Contacto </h2>
                      <div class="row"> 
                          <div class="col-xs-1">
                              <img class="contact-icons" src="../assets/img/direccion-ico-copy.png">
                          </div>
                          <div class="col-xs-10">
                              <span>
                                  <p class="margin-bottom-0"> Dirección </p>
                                  <p class="margin-top-0"> Calle Pascuale Giorgio Edificio Principal 1 Piso 2 Oficina 2-1 Urb Los Ruices Caracas Zona Postal </p>
                              </span>          
                          </div>
                      </div>
                      <div class="row"> 
                          <div class="col-xs-1">
                              <img class="contact-icons" src="../assets/img/horario-ico-copy.png">
                          </div>
                          <div class="col-xs-10">
                              <span>  
                                  <p class="margin-bottom-0"> Horarios de Atención:</p>
                                  <p class="margin-top-0"> 09:00 -17:30 </p>
                              <span>               
                          </div>
                      </div>       
                      <div class="row"> 
                          <div class="col-xs-1">
                              <img class="contact-icons" src="../assets/img/telefono-ico-copy.png">
                          </div>
                          <div class="col-xs-10">
                              <span>  
                                  <p class="margin-bottom-0"> Telefonos: </p>
                                  <p class="margin-top-0"> +58 212-5266501 </p>
                              <span>            
                          </div>
                      </div>                
                      <div class="row"> 
                          <div class="col-xs-1">
                              <img class="contact-icons" src="../assets/img/e-mail-ico-copy.png">
                          </div>
                          <div class="col-xs-10">
                              <span>  
                                  <p class="margin-bottom-0"> E-mail: </p>
                                  <p class="margin-top-0"> info@coinet.network </p>
                              <span>         
                          </div>
                      </div> 
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                      <h2 class="margin-bottom-prom margin-top-prom"> Subscribirme a Coinet </h2>
                      <p> 
                          Quieres lanzar una ICO, necesitas asesoría en trading de criptomonedas? Déjanos tu correo y nos pondremos en contacto con usted pronto.
                      </p>
                      <input class="margin-top-min margin-bottom-min width-100" type="text" placeholder="   E-mail">
                      <div class="margin-top-min margin-bottom-prom">
                          <button class="btn-style float-right"> Subscribirme </button>
                      </div>
                  </div>
                  <div class="col-md-3 col-md-offset-1 hidden-sm hidden-xs margin-bottom-prom">
                      <h2 class="margin-bottom-prom margin-top-prom"> Mini Galería Coinet </h2>
                      <div class="row margin-bottom-prom"> 
                          <div class="col-md-4">
                             <img src="../assets/img/imagen-instagram-1.png">
                          </div>
                          <div class="col-md-4">
                             <img src="../assets/img/imagen-instagram-2.png">
                          </div>
                          <div class="col-md-4">
                             <img src="../assets/img/imagen-instagram-3.png">
                          </div>
                      </div>
                      <div class="row margin-bottom-prom"> 
                          <div class="col-md-4">
                             <img src="../assets/img/imagen-instagram-4.png">
                          </div>
                          <div class="col-md-4">
                             <img src="../assets/img/imagen-instagram-5.png">
                          </div>
                          <div class="col-md-4">
                             <img src="../assets/img/imagen-instagram-6.png">
                          </div>
                      </div>
                      <div class="row margin-bottom-prom"> 
                          <div class="col-md-4">
                             <img src="../assets/img/imagen-instagram-4.png">
                          </div>
                          <div class="col-md-4">
                             <img src="../assets/img/imagen-instagram-5.png">
                          </div>
                          <div class="col-md-4">
                             <img src="../assets/img/imagen-instagram-6.png">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="footer-copyright center-vertical-text">
              <div class="container-fluid">
                  <h5 class="copyright_text">
                      Copyright &copy; 2017 Grupo Coinet
                  </h5> 
              </div>
          </div>
      </div>
  </body>

</html>